---
BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: None
IndentWidth: 8
ContinuationIndentWidth: 8
TabWidth: 8
UseTab: Always
IndentCaseLabels: false
IndentCaseBlocks: false
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Right
SortIncludes: true
...
